.grade {
  font-size: 14px;
  color: #00A775;
  background-color: #DBF8EF;
  border: 1px solid #28A879;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  padding: 0 8px;
}